.main-content {
  background-color: $base-main-bkg;
}

// main containers general styling-------------------------------
.daily-traffic,
.mobile-users,
.recent-activity,
.new-members,
.message {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.message {
  @include mq(medium) {
    border: none;
  }
}

.message-form {
  margin-bottom: 1em;
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.settings,
.mobile-users,
.recent-activity {
  @include mq(medium) {
    border-left: 1px solid $border-color;
  }
}

// search banner-----

.main-header-search {
  @include bkgNborder {
    border-radius: 0;
    border-bottom-left-radius: 5px;
  }
  width: 80%;
  height: 100%;
  text-align: right;
}

.alert-message {
  border-radius: 3px;
  width: 90%;
  background-color: $base;
  margin: 1em auto;
  padding-right: 1em;
}

.time {
  padding: 0.5em;
  border-radius: 15px;

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    background-color: $green;
  }
}

.daily {
  background-color: $green;
}
// social containers-----

.social-container {
  @include bkgNborder {
  }
  margin: 1em auto;
  width: 90%;
  @include mq(medium) {
    margin: 0.5em;
    padding-left: 0.25em;
  }
}
.social-container-wrapper {
  margin-bottom: 1em;
}
// New members-----

.new-members {
  padding-bottom: 0.75em;
}

.member-1,
.member-2,
.member-3,
.member-4,
.member-5 {
  // TOO CHANGE AT BREAKPOINT ~~~~~~~~~~~~~~~~~~
  margin: 1em 0 0 1em;
  & div + p {
    margin: 0 2em 0 auto;
    font-size: 0.75em;
  }
}

// recent activity-----

.recent-activity {
  padding-bottom: 0.75em;
}

// settings-----

.settings-button {
  width: 90%;
  margin: 1em auto;
}
.slider-1,
.slider-2 {
  margin: 1em 0 1.5em 2em;
  & label:nth-of-type(1) {
    display: inline-block;
    margin-right: 0.75em;
  }
}
.slider-2 label:nth-of-type(1) {
  margin-right: 2.9em;
}
