.widget-container-full,
.widget-container-half {
  margin: 0 auto;
  width: 95vw;
}
@include mq(medium) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}

#traffic-chart {
  width: 90vw;
}
#daily-chart,
#mobile-chart {
  width: 90vw;
  @include mq(medium) {
    width: 45vw;
  }
}

#mobile-chart {
  height: 80%;
  margin-bottom: 1em;
}

#daily-chart {
  margin-top: 3em;
}
